{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .form-floating label {
            color: rgba(var(--bs-body-color-rgb), .65) !important;
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar bg-white border-bottom">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 d-flex align-items-center gap-2" style="font-size: 28px"><img
                src="{% static 'logo.jpeg' %}" alt=""> ATMS</span>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Log Out</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="text-center mt-4">
        <h2 class="fw-normal text-muted mb-4">VASD DASHBOARD</h2>
    </div>

    <form action="{% url 'save-config' %}" method="post" class="card">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-muted fw-normal">Radar Configuration</h4>
                    <div class="input-group">
                        <div class="input-group-text">Radar IP</div>
                        <input type="text" class="form-control" id="ip4" name="radar_ip" placeholder="IP Address"
                               value="{{ radar_obj.ip }}" {% if connection_status %}disabled{% endif %}>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-text">Host IP</div>
                        <input type="text" class="form-control" id="ip4" name="host_ip" placeholder="IP Address"
                               value="{{ radar_obj.host_ip }}" {% if connection_status %}disabled{% endif %}>
                    </div>
                </div>

                <!-- Form for Trigger Config -->
                <div class="col-md-4">
                    <h4 class="text-muted fw-normal">Trigger Point Configuration</h4>

                    <div class="input-group">
                        <div class="input-group-text">Display</div>
                        <input type="text" class="form-control" id="display_trigger" name="display_trigger"
                               placeholder="e.g. 70"
                               value="{{ trigger_point_obj.display }}" {% if connection_status %}disabled{% endif %}>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-text">Camera</div>
                        <input type="text" class="form-control" id="camera_trigger" name="camera_trigger"
                               placeholder="e.g. 30"
                               value="{{ trigger_point_obj.camera }}" {% if connection_status %}disabled{% endif %}>
                    </div>
                </div>

                <!-- Form for Speed Limit -->
                <div class="col-md-4">
                    <h4 class="text-muted fw-normal">Speed Limit Configuration</h4>
                    <div class="input-group">
                        <div class="input-group-text">Speed Limit</div>
                        <input type="text" class="form-control" id="speed-limit" name="speed-limit"
                               placeholder="e.g. 80"
                               value="{{ speed_limit_obj.limit }}" {% if connection_status %}disabled{% endif %}>
                    </div>
                </div>

                <div class="col-md-12 mt-4">
                    <h4 class="text-muted fw-normal">Display Configuration</h4>
                    <div class="row g-3 align-items-center">

                        <!-- Form for Display 1 -->
                        <div class="col-12">
                            <input type="hidden" name="lane_number" value="0">
                            <div class="input-group">
                                <div class="input-group-text">Lane 0</div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="ip0" name="ip0" placeholder="IP Address"
                                           value="{{ form_data.display1.ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">IP Address</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="port0" name="port0"
                                           placeholder="Port Number"
                                           value="{{ form_data.display1.port }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Port Number</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cameraip0" name="cameraip0"
                                           placeholder="Camera IP"
                                           value="{{ form_data.display1.camera_ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera IP</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerausername0" name="camerausername0"
                                           placeholder="Camera username"
                                           value="{{ form_data.display1.camera_user }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerapass0" name="camerapass0"
                                           placeholder="Camera password"
                                           value="{{ form_data.display1.camera_pass }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera password</label>
                                </div>
                            </div>
                        </div>

                        <!-- Form for Display 2 -->
                        <div class="col-12">
                            <input type="hidden" name="lane_number" value="1">
                            <div class="input-group">
                                <div class="input-group-text">Lane 1</div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="ip1" name="ip1" placeholder="IP Address"
                                           value="{{ form_data.display2.ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">IP Address</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="port1" name="port1"
                                           placeholder="Port Number"
                                           value="{{ form_data.display2.port }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Port Number</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cameraip1" name="cameraip1"
                                           placeholder="Camera IP"
                                           value="{{ form_data.display2.camera_ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera IP</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerausername1" name="camerausername1"
                                           placeholder="Camera username"
                                           value="{{ form_data.display2.camera_user }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerapass1" name="camerapass1"
                                           placeholder="Camera password"
                                           value="{{ form_data.display2.camera_pass }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera password</label>
                                </div>
                            </div>
                        </div>

                        <!-- Form for Display 3 -->
                        <div class="col-12">
                            <input type="hidden" name="lane_number" value="2">
                            <div class="input-group">
                                <div class="input-group-text">Lane 2</div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="ip2" name="ip2" placeholder="IP Address"
                                           value="{{ form_data.display3.ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">IP Address</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="port2" name="port2"
                                           placeholder="Port Number"
                                           value="{{ form_data.display3.port }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Port Number</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cameraip2" name="cameraip2"
                                           placeholder="Camera IP"
                                           value="{{ form_data.display3.camera_ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera IP</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerausername2" name="camerausername2"
                                           placeholder="Camera username"
                                           value="{{ form_data.display3.camera_user }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerapass2" name="camerapass2"
                                           placeholder="Camera password"
                                           value="{{ form_data.display3.camera_pass }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera password</label>
                                </div>
                            </div>
                        </div>

                        <!-- Form for Display 4 -->
                        <div class="col-12">
                            <input type="hidden" name="lane_number" value="3">
                            <div class="input-group">
                                <div class="input-group-text">Lane 3</div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="ip3" name="ip3" placeholder="IP Address"
                                           value="{{ form_data.display4.ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">IP Address</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="port3" name="port3"
                                           placeholder="Port Number"
                                           value="{{ form_data.display4.port }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Port Number</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cameraip3" name="cameraip3"
                                           placeholder="Camera IP"
                                           value="{{ form_data.display4.camera_ip }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera IP</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerausername3" name="camerausername3"
                                           placeholder="Camera username"
                                           value="{{ form_data.display4.camera_user }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="camerapass3" name="camerapass3"
                                           placeholder="Camera password"
                                           value="{{ form_data.display4.camera_pass }}"
                                           {% if connection_status %}disabled{% endif %}>
                                    <label for="floatingInput">Camera password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <h4 class="text-muted fw-normal">Location Configuration</h4>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-text">Location</div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                                   value="{{ location.address }}"
                                   {% if connection_status %}disabled{% endif %}>
                            <label for="floatingInput">Address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-md-3">
                    <div class="d-grid gap-2">
                        {% if connection_status %}
                            <input type="submit" value="Disconnect" class="btn btn-danger" name="connect-status">
                        {% else %}
                            <input type="submit" value="Connect" class="btn btn-primary" name="connect-status">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-muted fw-normal">Recent Speed Records</h4>
                    <hr>
                    <table id="speed-record" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="bg-light">ID</th>
                            <th class="bg-light">Framenumber</th>
                            <th class="bg-light">Time</th>
                            <th class="bg-light">Speed</th>
                            <th class="bg-light">Lane</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for speed_record in speed_records %}
                            <tr>
                                <td>{{ speed_record.id }}</td>
                                <td>{{ speed_record.frame_number }}</td>
                                <td>{{ speed_record.time|date:"d-m-Y g:i:s" }}</td>
                                <td>{{ speed_record.speed }}</td>
                                <td>{{ speed_record.lane_number }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary fw-normal">© 2024 Developed by Metro infrasys</p>
    </footer>
</div>

<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`
    const chatSocket = new WebSocket(url);
    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log('Data:', data);
        updateTable(data);
    }

    function updateTable(data) {
        let table = document.getElementById('speed-record');
        let tbody = table.querySelector('tbody');
        let rowCount = tbody.rows.length;

        // Append new row
        let newRow = tbody.insertRow(0);
        let idCell = newRow.insertCell(0);
        let frameCell = newRow.insertCell(1);
        let timeCell = newRow.insertCell(2);
        let speedCell = newRow.insertCell(3);
        let laneCell = newRow.insertCell(4);

        idCell.innerHTML = data.message.id;
        frameCell.innerHTML = data.message.frame;
        timeCell.innerHTML = data.message.time;
        speedCell.innerHTML = data.message.speed;
        laneCell.innerHTML = data.message.laneNumber;

        // Remove last row if rowCount exceeds 10
        if (rowCount >= 10) {
            tbody.deleteRow(rowCount);
        }
    }
</script>
</body>
</html>
